.card {
  display: grid;
  grid-template-rows: 1.25rem;
  border-radius: .5rem;
  margin: .75rem 1.5rem;
  padding: 1.5rem 2.6rem 1.5rem 1.5rem;

  @include breakpoint-up(xlarge) {
    margin: 0;
    padding: 1.5rem 2.75rem 1.5rem 2.25rem;
  }

  >h1 {
    color: $white;

    font: {
      size: $font-lg - .2rem;
      weight: 600;
    }

    margin-bottom: 0;

    @include breakpoint-down(medium) {
      font-size: $font-lg - .25rem;
    }
  }

  >p {
    color: #ffffff70;

    font: {
      font-size: $font-med;
      weight: 500;
    }

    @include breakpoint-down(medium) {
      size: $font-sm;
    }
  }

  &:is(:nth-child(3)),
  &:is(:nth-child(5)) {
    >h1 {
      color: $very-dark-blackish-blue;
    }

    >p {
      color: rgba($color: $very-dark-blackish-blue, $alpha: .7);
    }
  }

  &__first {
    @include breakpoint-up(xlarge) {
      grid-area: card-1;
      background-position-x: 80%;
    }

    background: {
      color: $moderate-violet;
      image: url('https://raw.githubusercontent.com/lancemartija/TestimonialsGridSection/97245d0d1b0d80622de9b06bfd05d48d3302e533/app/images/bg-pattern-quotation.svg');
      position-x: 85%;
      repeat: no-repeat;
    }

    &--heading {
      @include card-heading-styles($white);
    }
  }

  &__second {
    @include breakpoint-up(xlarge) {
      grid-area: card-2;
    }

    background: $very-dark-grayish-blue;

    &--heading {
      @include card-heading-styles($white);
    }
  }

  &__third {
    @include breakpoint-up(xlarge) {
      grid-area: card-3;
    }

    background: $white;

    &--heading {
      @include card-heading-styles($very-dark-grayish-blue);
    }
  }

  &__fourth {
    @include breakpoint-up(xlarge) {
      grid-area: card-4;
    }

    background: $very-dark-blackish-blue;

    &--heading {
      @include card-heading-styles($white);
    }
  }

  &__fifth {
    @include breakpoint-up(xlarge) {
      grid-area: card-5;
    }

    background: $white;

    &--heading {
      @include card-heading-styles($very-dark-grayish-blue);
    }
  }
}