html {
  box-sizing: border-box;
  font-size: 100%;
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $light-grayish-blue;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0;

  font: {
    family: 'Barlow Semi Condensed', sans-serif;
    size: $font-sm;
    weight: 500;
  }

  ::selection {
    background: $light-grayish-blue;
    color: $very-dark-grayish-blue;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// display
.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }

  &-fd-col {
    flex-direction: column;
  }

  &-jc-c {
    justify-content: center;
  }
}


// Footer Class
.attribution {
  background: $very-dark-grayish-blue;
  color: $light-grayish-blue;
  text-align: center;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  >a {
    color: $light-grayish-blue;
    text-decoration: underline;

    &:hover {
      color: $light-gray;
    }
  }
}