.main {
  display: grid;

  &__container {
    @include breakpoint-up(medium) {
      padding: .75rem;
    }

    @include breakpoint-down(medium) {
      margin: 4.15rem 0;
      grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    }

    @include breakpoint-up(large) {
      grid-gap: 1.25rem;
      grid-template-columns: repeat(4, 275px);
      grid-template-areas:
        "card-1 card-1 card-2 card-5"
        "card-3 card-4 card-4 card-5";
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}