// Primary Colors
$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

// Neutral Colors
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

// Font Sizes
$font-xsm: .5rem; // 8px
$font-sm: 0.8125rem; // 14px
$font-med: 1rem; // 16px
$font-lg: 1.5rem; // 24px